.feed-container {
    display: flex;
    justify-content: center;
}

.feed-section {
    display: grid;
    row-gap: 20px;
    justify-content: center;
    width: 500px;
    background-color: rgb(33, 33, 33);
    border-radius: 20px;
    padding: 25px;
}

.post-section {
    border-bottom: solid;
}

.top-post-grid {
    display: grid;
    grid-template-columns: 60px 1fr;
}

.top-left-post-section {
  display: flex;
  height: 60px;
}

.profile-picture {
  height: 100%;
  border-radius: 30px;
}

.top-right-post-section {
  padding-left: 20px;
}

.profile-name {
  font-weight: bold;
}

.post-type {
  padding-top: 10px;
  font-weight: lighter;
}

.content-section {
  display: flex;
  height: 250px;
  justify-content: center;
}

.interaction-section {
  display: grid;
  grid-template-columns: 50px 50px 50px 1fr;
  padding-top: 10px;
}

.bookmark-container {
  display: flex;
  justify-content: flex-end;
}

.interaction-button {
  height: 40px;
  width: 40px;

  color: rgb(255, 255, 255);
  background-color: rgb(45, 45, 45);
  border-style: none;
  border-radius: 4px;

  transition: box-shadow 0.15s;
  cursor: pointer;
}

.interaction-button-content {
  width: 100%;
}

.like-counter {
  padding-top: 10px;
  font-weight: bold;
}

.caption {
  padding-top: 10px;
  padding-bottom: 15px;
}